@font-face {
  font-family: "NovaBolds";
  src: url("../fonts/Nexa Bold.otf");
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PT.ttf");
}

@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/Arial.ttf");
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/ofont.ru_Myriad Pro.ttf");
  @font-face {
    font-family: "helveticaregular";
    src: url("../fonts/helvetica.otf");
  }
}

.wrapper {
  height: 516px;
  width: 100%;
}

.container {
  width: 960px;
}

.header {
  width: 100%;
  height: 238px;
  background-color: #ebebeb;
  border-bottom: solid #701dbb 10px;
}

.logo {
  padding-top: 34px;
}

.quicklinks {
  color: #c7c7c7;
  font-size: 12px;
  line-height: 71px;
  font-family: 'NovaBold';
  left: 52px;
  position: relative;
}

.dropdown {
  color: #7842ad;
  font-family: 'NovaBold';
  font-size: 12px;
  line-height: 71px;
  left: 55px;
}

.dropdownserch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.serch {
  height: 45px;
  width: 300px;
  background: url("../img/clock.png") no-repeat #ffff;
  background-position: 265px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.004);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.004);
  position: relative;
  left: 77px;
}

.menu {
  height: 50%;
  width: 100%;
}

.brandnav {
  height: 238px;
}

.nav {
  width: 100%;
  height: 100%;
}

.nav-menu {
  width: 16.6%;
  height: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 5px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
  background: linear-gradient(#ffffff, #e5e5e5);
  text-align: center;
}

.nav-menu__img {
  display: block;
  margin: auto;
  padding: 26px 0px 0px 0px;
}

.nav-menu__discription {
  font-size: 17px;
  line-height: 41px;
  color: #707070;
  font-family: PTSans;
}

.nav-menu__discription:hover .nav-menu {
  background: black;
}

.services {
  width: 100%;
  height: 1430px;
  background-color: #2d2d2d;
}

.imgwithserch {
  width: 100%;
  height: 637px;
}

.logosection {
  height: 878px;
}

.anywere {
  font-size: 36px;
  line-height: 22px;
  color: white;
  text-align: center;
  font-family: PTSans;
  padding-top: 51px;
}

.mean {
  color: #a161db;
  font-size: 14px;
  line-height: 1.571;
  position: relative;
  left: 45%;
}

.mapa {
  padding-top: 34px;
  width: 100%;
  padding-bottom: 31px;
}

.circle {
  position: relative;
  left: 100px;
}

.lineone {
  position: relative;
  left: 160px;
  top: 20px;
}

.sky {
  position: relative;
  left: 219px;
  top: 10px;
}

.box {
  position: relative;
  left: 350px;
}

.linetwo {
  position: relative;
  left: 280px;
  top: 20px;
}

.save {
  font-family: PTSans;
  font-size: 24px;
  line-height: 22px;
  color: White;
  padding-top: 49px;
  padding-bottom: 12px;
}

.save-paragraph {
  font-family: ArialRegular;
  font-size: 12px;
  line-height: 22px;
  color: White;
}

.simple {
  width: 100%;
  background-color: #222222;
  height: 520px;
  padding-top: 50px;
}

.backgroun {
  width: 1256px;
  background-color: black;
  height: 100%;
  display: block;
  margin: auto;
  border-radius: 40px 40px 0px 0px;
  padding-top: 49px;
}

.gradient {
  width: 1156px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#38007f), to(#8f33c5));
  background: linear-gradient(to right, #38007f, #8f33c5);
  display: block;
  margin: auto;
}

.phone {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 103px;
}

.sim {
  font-family: ArialRegular;
  font-size: 36px;
  line-height: 22px;
  color: White;
  text-align: center;
}

.we {
  font-family: ArialRegular;
  font-size: 14px;
  line-height: 22px;
  color: #a161db;
  text-align: center;
}

.staff {
  width: 100%;
  height: 1369px;
  background-color: #ebebeb;
}

.cont-sstaff {
  width: 960px;
  height: 100%;
}

.humble {
  font-family: MyriadPro;
  font-size: 36px;
  line-height: 22px;
  color: #717171;
  text-align: center;
  padding-top: 79px;
}

.well {
  font-family: MyriadPro;
  font-size: 14px;
  line-height: 22px;
  color: #717171;
  text-align: center;
  padding-top: 10px;
}

.pepar {
  background-color: white;
  height: 477px;
  width: 460px;
}

.text {
  display: block;
  width: 339px;
  margin: auto;
  padding-top: 30px;
}

.par {
  font-family: ArialRegular;
  font-size: 30px;
  line-height: 30px;
  color: #717171;
}

.disc {
  font-family: ArialRegular;
  font-size: 14px;
  line-height: 25px;
  color: #6017a3;
  padding-top: 20px;
}

.diss {
  font-family: ArialRegular;
  font-size: 12px;
  line-height: 22px;
  color: #949494;
  padding-top: 20px;
}

.wind {
  background-color: white;
  width: 100%;
  height: 357px;
  margin-top: 10px;
}

.sim {
  padding-top: 54px;
}

.we {
  padding-top: 26px;
}

.im {
  padding-top: 9px;
}

.name {
  padding-top: 17px;
  font-family: MyriadPro;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.discript {
  font-family: MyriadPro;
  font-size: 14px;
  line-height: 22px;
  color: #7b7b7b;
}

.wind-block {
  display: block;
  margin: auto;
  width: 809px;
  height: 100%;
}

.pa {
  font-family: NovaBolds;
  font-size: 30px;
  line-height: 30px;
  color: black;
  padding-top: 74px;
}

.pars {
  font-family: NovaBolds;
  font-size: 12px;
  line-height: 22px;
  color: #6724a6;
  padding-top: 19px;
}

.parag {
  font-family: NovaBolds;
  font-size: 12px;
  line-height: 22px;
  color: #949494;
  padding-top: 25px;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #373737;
  border-top: 5px #914dcf;
  border-style: solid;
}

.foot {
  height: 100%;
}

.navigationfooter {
  width: 100%;
  height: 100%;
}

.lifooter {
  list-style-type: none;
  float: left;
  padding-left: 45px;
}

.menufooter {
  width: 100%;
  margin-left: 243px;
}

.afooter {
  font-family: MyriadPro;
  font-size: 12px;
  line-height: 71px;
  color: white;
}

.logofooter {
  padding-top: 22px;
}

.discriptionfooter {
  font-family: helveticaregular;
  font-size: 12px;
  line-height: 23px;
  color: white;
  padding-top: 40px;
}

.socialli {
  list-style-type: none;
  float: left;
  display: -webkit-inline-box;
  padding-left: 25px;
}

.socialparagraph {
  font-family: PTSans;
  font-size: 12px;
  line-height: 71px;
  color: white;
  padding-left: 5px;
}

.socialimg {
  position: relative;
  top: 23%;
}

.socialul {
  margin-left: 25px;
}

.parfo {
  font-family: MyriadPro;
  font-size: 12px;
  line-height: 41px;
  color: white;
}

.lifo {
  list-style-type: none;
  float: left;
  padding-left: 16px;
}

.lifo:first-child {
  padding-left: 0px;
}

.ulfo {
  padding: 0px;
}

.paragfo {
  font-family: MyriadPro;
  font-size: 11px;
  line-height: 21px;
  color: #7e7e7e;
}

.active {
  position: relative;
  bottom: 10px;
  position: relative;
  border-bottom: solid #701dbb 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background: linear-gradient(#ffffff, #ffffff);
}

.active .nav-menu__discription {
  color: #701dbb;
}

.active .nav-menu {
  background-color: white;
}

@media (max-width: 992px) {
  .serch {
    left: 147px;
    bottom: 60px;
  }
  .circle {
    position: relative;
    left: 35px;
  }
  .lineone {
    position: relative;
    left: 70px;
    top: 20px;
  }
  .sky {
    position: relative;
    left: 105px;
    top: 10px;
  }
  .box {
    position: relative;
    left: 180px;
  }
  .linetwo {
    position: relative;
    left: 140px;
    top: 20px;
  }
  .save {
    padding-left: 30px;
  }
  .save-paragraph {
    font-size: 19px;
  }
  .services {
    height: 1630px;
  }
  .backgroun {
    width: 94%;
  }
  .gradient {
    width: 92%;
  }
  .circletwo {
    position: relative;
    left: 50px;
  }
  .lineoneone {
    position: relative;
    left: 20px;
    top: 20px;
  }
  .sskytwo {
    position: relative;
    top: 10px;
    right: 30px;
  }
  .linetwotwo {
    position: relative;
    top: 20px;
    right: 50px;
  }
  .boxtwo {
    position: relative;
    right: 90px;
  }
  .name {
    font-size: 22px;
  }
  .discript {
    font-size: 18px;
  }
  .pepar {
    display: block;
    margin: auto;
    margin-top: 30px;
  }
  .staff {
    height: 1929px;
  }
  .wind-block {
    width: 100%;
  }
  .menufooter {
    float: right;
    padding-top: 4%;
    margin-right: 17%;
  }
  .wrapper {
    height: 716px;
  }
  .afooter {
    font-size: 16px;
  }
  .discriptionfooter {
    font-size: 18px;
  }
  .socialparagraph {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */