@import font.sass
    
    
.wrapper 
    height: 3516px
    width: 100%
.container
    width: 960px
.header
    width: 100%
    height: 238px
    background-color: #ebebeb
.logo
    position: relative 

.quicklinks
    color: #c7c7c7
    font-size: 12px
    line-height: 71px
    font-family: 'NovaBold'

.dropdown
    color: #7842ad
    font-family: 'NovaBold'
    font-size: 12px
    line-height: 71px
.dropdownserch  
    display: flex
    align-items: center
    width: 100%
    height: 100%
.serch
    height: 45px
    width: 300px
    background: url("../img/clock.png") no-repeat #ffff
    background-position: 265px
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.004)
.menu
    height: 50%
    width: 100%
.brandnav
    height: 238px
.nav
    width: 100%
    height: 100%
    &-menu
     width: 16%;
     height: 100%;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 5px 0px;
     background: linear-gradient(#ffffff, #e5e5e5);
     &__img
      display: block   
      margin: auto
      padding: 17px 0px 0px 0px
     &__discription
         text-align: center
         font-size: 17px
         line-height: 41px
         color: #707070
         font-family: PTSans
         
         
.services        
    width: 100%
    height: 1330px
    background-color: #2d2d2d
.imgwithserch
    width: 100%
    height: 537px
.logosection
    height: 878px
.anywere   
    font-size: 36px
    line-height: 22px
    color: rgb(255, 255, 255)
    text-align: center
    font-family: PTSans
    padding-top: 51px
.mean
    color: #a161db
    font-size: 14px
    line-height: 1.571
    position: relative
    left: 45%
.mapa
    padding-top: 34px
    width: 100%  
    padding-bottom: 31px  

.circle 
    position: relative
    left: 100px
.lineone
    position: relative
    left: 70px
    top: 20px
.sky
    position: relative
    left: 105px
    top: 10px
.box  
    position: relative
    left: 100px
    
.save
    font-family: PTSans     
    font-size: 24px 
    line-height: 22px
    color: White
    padding-top: 49px
    padding-bottom: 12px
.save-paragraph
    font-family: ArialRegular
    font-size: 12px
    line-height: 22px
    color: White
.simple
    width: 100%
    background-color: #222222
    height: 520px
    padding-top: 50px
.backgroun
    width: 1256px
    background-color: black
    height: 100%
    display: block
    margin: auto
    border-radius: 40px 40px 0px 0px
    padding-top: 49px
.gradient
    width: 1156px
    height: 100%
    background: linear-gradient(to right, #38007f, #8f33c5) 
    display: block
    margin: auto
.phone
    width: 960px
    height: 100%
.sim
    font-family: ArialRegular
    font-size: 36px
    line-height: 22px
    color: White
    text-align: center
.we
    font-family: ArialRegular
    font-size: 14px
    line-height: 22px
    color: #a161db
    text-align: center
   
    




    
         
    
     

    
        


    